
.mydiv1{
    background-color: rgb(233, 226, 226);
}

.mydiv2{
    background-color:#bbbbbb;
    height:60vh;
}

.story p{
    font-size:18px;
}

.banner-image{
    background-image:url('img/home.jpg');
	background-position: center;
    background-size: cover;
}

.banner-image-2{
	background-image: url('img/ManageRental.jpg');
	background-position: center;
    background-size: cover;
}
/*** Property List ***/
.nav-pills .nav-item .btn {
    color: var(--dark);
}

.nav-pills .nav-item .btn:hover,
.nav-pills .nav-item .btn.active {
    color: #FFFFFF;
}

.property-item {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
}

.property-item img {
    transition: .5s;
}

.property-item:hover img {
    transform: scale(1.1);
}

.property-item .border-top {
    border-top: 1px dashed rgba(0, 185, 142, .3) !important;
}

.property-item .border-end {
    border-right: 1px dashed rgba(0, 185, 142, .3) !important;
}

/****** footer *****/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container1{
	max-width: 1170px;
	margin:auto;
}
.row1{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
/*login*/
body, html {
    height: 100%;
    margin: 0;
}
.bg {
    background-image: url('img/home.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-container {
    width: 350px;
    margin: auto;
    padding: 15px;
    background: light;    
    border-radius: 2px solid rgba(255,255,255,.5);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 30px;
}

.form-check-label, .forgot a, .register-link a {
    color: #007bff;
}

/*addApartment*/
.custom-form-container {
    max-width: 800px;
    margin: auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.custom-form-group label {
    font-weight: bold;
}

/*displayMessageIDs*/
.chat-history-container {
	max-width: 800px;
	margin: 20px auto;
}
.alert a {
	text-decoration: none;
	font-weight: bold;
	color: #007bff;
}
.alert a:hover {
	text-decoration: underline;
}
.user-avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 10px;
}
.user-info {
	display: flex;
	align-items: center;
}
/*notification*/
.notification-container {
	max-width: 800px;
	margin: 20px auto;
}
/*message*/
.chat-container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}
.message-box {
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
}
.message-sent {
	background-color: #d1e7ff;
	text-align: right;
}
.message-received {
	background-color: #f1f1f1;
}
.message-time {
	font-size: 0.8rem;
	color: #666;
}
.chat-form {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.chat-form input[type="text"] {
	flex: 1;
	margin-right: 10px;
}
.username-section {
	position: fixed;
	top: 70px; /* Just below the navbar */
	width: 100%;
	background-color: #3FA2F6;
	color: white;
	padding: 10px;
	text-align: center;
	margin-bottom: 20px;
	border-radius: 5px;
	z-index: 1020; /* Ensure it's below the navbar but above other content */
}
/*profile*/
.card {
	border: none;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	margin-bottom: 20px;
  }

  .profile-pic {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
  }

  .btn-edit {
	margin-top: 10px;
  }
  /*settings*/
  .custom-container {
	max-width: 600px;
	margin: 50px auto;
  }

  .custom-card {
	border: none;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }

  .custom-card-body {
	padding: 2rem;
  }

  .custom-form-group {
	margin-bottom: 1.5rem;
  }

  .custom-h2 {
	color: #343a40;
  }

  .custom-label {
	font-weight: bold;
  }

  .custom-btn-save {
	background-color: #007bff;
	color: #fff;
	border: none;
  }

  .custom-btn-save:hover {
	background-color: #0056b3;
  }
  /*apartmentDetails*/
  .card-body {
	padding: 1.5rem;
  }

  .carousel-inner img {
	height: 500px;
	object-fit: cover;
  }

  hr {
	border-top: 1px solid #dee2e6;
  }

  .btn-booking {
	background-color: #007bff;
	color: #fff;
	padding: 1rem 2rem;
	font-size: 1.25rem;
	border: none;
	border-radius: 0;
	width: 100%;
	transition: background-color 0.3s, transform 0.3s;
  }

  .btn-booking:hover {
	background-color: #0056b3;
	transform: scale(1.05);
  }

  .fixed-bottom-btn {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 1000;
  }
  .custom-added-by-link:hover {
	background-color: #007bff;
	color: #fff;
	text-decoration: none;
  }