body, html {
    height: 100%;
    margin: 0;
}
.bg {
    background-image: url('img/home.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-container {
    width: 350px;
    margin: auto;
    padding: 15px;
    background: light;    
    border-radius: 2px solid rgba(255,255,255,.5);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 30px;
}

.form-check-label, .forgot a, .register-link a {
    color: #007bff;
}